body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #efefef;
}


.btn-lg {
    margin: 0 10px;
}

.container {

    display: flex; /* Torna o contêiner um flexbox */
    flex-direction: column; /* Alinha os filhos em uma coluna */
    justify-content: flex-start; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100%;

}

.password-hint {
    font-size: 0.9em;
    color: #888; /* Cor mais clara */
    margin-top: 5px;
}